/* styles.css */
body {
    background-color: rebeccapurple;
}

.content {
    background-color: pink ;
    display: flex;
    justify-content: center;
    align-items: center;
}
#delivery {
    background-color: lightgreen;
    padding: 10px;
    border-radius: 10px;
    font-size: 24px;
    margin-top: 20px;}
header {
    background-color: lightblue;
    padding: 20px;
    text-align: center;
}
button {
    background-color: white;
    border: none;
    padding: 10px 20px;
    font-size: 36px;
    cursor: pointer;
    border-radius: 15px;
}
h1 {
    color: white;
    font-size: 48px;
}
ul {
    list-style-type: none;
    padding: 0;
}