/* styles.css */
html,
body {
    height: 100%;
}

body {
    background-color: transparent;
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
}

.content {
    background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}
#delivery {
    background-color: green;
    padding: 10px;
    border-radius: 10px;
    font-size: 24px;
    margin-top: 20px;}
header {
    background-color: white;
    padding: 20px;
    text-align: center;
}
button {
    background-color: white;
    border: none;
    padding: 10px 20px;
    font-size: 36px;
    cursor: pointer;
    border-radius: 15px;
}
h1 {
    color: white;
    font-size: 48px;
}
ul {
    list-style-type: none;
    padding: 0;
}