/* styles.css */
body {
    background-color: rebeccapurple;
}

.content {
    background-color: pink ;
    display: flex;
    justify-content: center;
    align-items: center;
}
header {
    background-color: lightblue;
    padding: 20px;
    text-align: center;
}
button {
    background-color: white;
    border: none;
    padding: 10px 20px;
    font-size: 36px;
    cursor: pointer;
    border-radius: 15px;
}